<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>山河旅行社</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"  ></script>
</head>
<script>
    $(function () {

        $("#login").click(function () {
            location.href="/page/loginPage";
        });
        $("#center").click(function () {
            location.href="/main";
        });


        $(".btn2").click(function () {
            var val = $(this).attr("name");
            location.href="particulars?routeId="+val;
        });
        $(".btn1").click(function () {
            //拿到某个属性中的内容，适用与遍历
            var val = $(this).attr("name");
            location.href='/pay?routeId='+val;
        });

    })
    $("#login").ready(function () {
        $.post("/page/session",function (data) {
            if(data.msg){
                $("#exit").css('display','none');

            }else {

                $("#login").css('display','none');}
        });
    });
</script>

<body>
<header id="header">

    <div class="center">
        <div  style="float: right;padding-top: 20px;padding-left: 50px">

            <input th:id="login" type="submit" th:value='登陆'  id="login">
            <input type="submit" th:value='个人中心'  id="center">
            <input th:id="exit" type="submit" th:value='退出'  id="exit">

        </div>

        <h1 class="logo">山河旅行社</h1>
        <nav class="link" >
            <h2 style="display:none;">网站导航</h2>
            <ul>
                <li><a th:href="@{/page/index}" href="index.html">首页</a></li>
                <li><a th:href="@{/page/information}" href="information.html"><span class="xs-hidden">旅游</span>资讯</a></li>
                <li><a th:href="@{/page/ticket}"><span class="xs-hidden">酒店查询</span></a></li>
                <li><a th:href="@{/page/xsHidden}" href="scenery.html">美食小吃</a></li>
                <li><a th:href="@{/page/about}"><span class="xs-hidden"></span>留言板</a></li>
            </ul>
        </nav>
    </div>
</header>



<div id="headline">
    <img src="img/headline.jpg" alt="">
    <hgroup>
        <h2>旅游资讯</h2>
        <h3>介绍各种最新旅游信息、资讯要闻、景点攻略等</h3>
    </hgroup>
</div>

<div id="container">

    <div class="list information">
        <h2 style="margin:0 0 20px 0">旅游资讯 </h2>
        <h3 class="xs-hidden" id="user"></h3>
        <figure class="tour" th:each="map:${map}" >
            <img th:src="@{${map.key}}" src="img/tour1.png">
            <figcaption>
                <article>
                    <header>
                        <hgroup>
                            <h2>[[${map.value.travelRouteName}]]</h2>
                            <h3 class="xs-hidden">[[${map.value.promotionActivity}]]</h3>

                        </hgroup>
                    </header>
                    <ol class="md-hidden">
                        <li><mark>交通</mark>：春秋航空，杭州出发，无需转机</li>
                        <li><mark>团期</mark>：11/01、11/03、11/08…</li>
                    </ol>
                    <div class="buy">
                        <div class="price">￥<strong>[[${map.value.currentPrice}]]</strong><s>[[${map.value.originalPrice}]]</s></div>
                        <div  class="reserve md-hidden"><button class="btn1" style="width: 100px;height: 40px;background-color: orange;margin-left: 30px;" th:name="${map.value.routeId}">立即抢购</button></div>
                        <div  class="reserve md-hidden"><button class="btn2" style="width: 100px;height: 40px;background-color: orange;margin-left: 30px;" th:name="${map.value.routeId}">查看详情</button></div>

                    </div>
                    <div class="type">[[${map.value.kind}]]</div>
                    <div class="disc xq-hidden"><span>5折</span></div>
                    <footer class="md-hidden">本团游由山河旅行社赞助提供，截止于<time>2016-10-10</time></footer>
                </article>
            </figcaption>
        </figure>

        <div class="more">加载更多...</div>
    </div>
</div>




</body>
</html>